@model Mvc1ViewsControllers1.ViewModels.QuestionSendViewModel


@{
    ViewData["Title"] = "Registrera dig";
}

<h1>”Thanks for your question:” </h1>

Vi kontakmtar dig på 
@Model.Email
angående

@Model.Text

