@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Mvc1ViewsControllers1.ViewModels.HelloUpdateDateTimeViewModel




@{
    ViewData["Title"] = "Blää asdasd";
}

@Model.Timestamp.ToString("yyyy-MM-dd hh:mm:ss")

<hr />
 
<a asp-controller="Hello" asp-action="UpdateDateTime">Rita om sidan</a>


<a href="/Hello/UpdateDateTime">Rita om sidan</a>
